.FadeOut {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 40px;

    background-image: linear-gradient(rgba($color-white, 0) 0%, $color-white 100%);
    content: '';
}

.HiddenElement {
    position: absolute;

    width: 1px;
    height: 1px;

    border: 0 none;
    clip: rect(0 0 0 0);
    font-weight: normal;
    margin: -1px;
    overflow: hidden;
    padding: 0;
}

.HiddenSimple {
    opacity: 0;
    visibility: hidden;
}

.Fixed {
    overflow: hidden;
}

// Include base styles for HTML elements
// and any styles to override vendor styles here
// scss-lint:disable all
/* stylelint-disable */
html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    font-size: initial;
    -webkit-font-smoothing: antialiased;
}

.Body {
    background-color: $gray-lightest;
}

.container {
    position: relative;

    @media screen and (min-width: $screen-lg-min) {
        width: $container-width;
        max-width: 100%;
    }
}

// overlap styles for carousel
.carousel {
    .carousel-control {
        display: none;
    }

    .carousel-indicators{
        li {
            border: 1px solid transparent;
            background: $gray;
            margin: 0 5px;
            width: 8px;
            height: 8px;
        }

        .active{
            border: 1px solid $brand-success;
            background: transparent;
        }
    }
}

.carousel-inner {
    height: 440px;

    > .item {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;

        display: block;
        opacity:  0;
        //transform: translate3d(100%, 0, 0);

        @include transition($transition: opacity);

        &.active {
            opacity: 1;
        }
    }
}

.pika-single {
    font-family: $font-primary-500;
}

.is-today .pika-button {
    color: $color-blue-primary-light;
}

.is-selected .pika-button {
    color: $color-white;
    background: $color-blue-primary-light;
}

.pika-button:hover {
    color: $color-white;
    background: $color-orange;
}

// scss-lint:enable all
/* stylelint-enable */
