<div class="container-fluid">
    <div class="row Login">
        <div class="col-md-12">
            <div class="Login__Container">
                <h1 class="Icon Icon__Logo">
                    <span class="HiddenElement">Unum</span>
                </h1>

                <form class="LoginForm" [formGroup]="resetPasswordForm" novalidate name="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="LoginForm__Title">
                                {{ 'RESET_PASSWORD' | translate }}
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p>{{ 'TO_RESET_PASSWORD' | translate }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="form-group">
                                <input type="email"
                                       id="email"
                                       class="form-control"
                                       placeholder="email"
                                       autocomplete="off"
                                       [(ngModel)]="loginCreds.username"
                                       [formControl]="email">
                            </div>
                        </div>
                    </div>

                    <div class="row LoginForm__Buttons">
                        <div class="col-md-12 text-center">
                            <a class="Button" [routerLink]="['']">{{ 'BACK' | translate }}</a>
                            <button type="submit" [disabled]="!resetPasswordForm.valid" class="Button__Secondary">{{ 'NEXT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
