<div class="container-fluid">
    <div class="row EmployerSectionHeader">
        <div class="col-md-12">
            <div class="row EmployerSectionHeader__Wrap">
                <div class="col-sm-6">
                    <i class="Icon--inline">
                        <svg-icon svgClass="Icon__Building" [svgPath]="icons.building"></svg-icon>
                    </i>
                    <h1 class="EmployerSectionHeader__Title">{{ 'EMPLOYER_CHANGES' | translate }}</h1>
                </div>
                <div class="col-sm-6 EmployerSectionHeader__Align">
                    <h1 class="EmployerSectionHeader__Company">{{selectedEmployer | translate}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
