<section class="EmployeeCoverage">
    <div class="EmployeeCoverage__Item">
        <div class="EmployeeCoverage__Item__Title">{{ 'SUMMARY' | translate }}</div>

        <div class="row EmployeeCoverage__Item__Description">
            <div class="Item__Description__Title">
                <span class="Total__Text">{{ 'TOTAL_PREMIUM' | translate }}</span>
                <span class="Total__Sum">$89.30</span>
                <span class="Total__Period">{{ 'MONTHLY' | translate }}</span>
            </div>

            <div class="Item__Description__Info">
                <div class="PaymentBlock">
                    <span class="PaymentBlock__Sum">$27.17</span>
                    <span class="PaymentBlock__Period">{{ 'MONTHLY' | translate }}</span>
                    <div class="PaymentBlock__Status">{{ 'EMPLOYEE_PAID' | translate }}</div>
                </div>

                <div class="PaymentBlock LastItem">
                    <span class="PaymentBlock__Sum">$62.13</span>
                    <span class="PaymentBlock__Period">{{ 'MONTHLY' | translate }}</span>
                    <div class="PaymentBlock__Status">{{ 'EMPLOYEE_PAID' | translate }}</div>
                </div>

                <div class="EffectiveDate">
                    <span class="EffectiveDate__Text">{{ 'EFFECTIVE_DATE' | translate }}:</span>
                    <span class="EffectiveDate__Value">07/15/2016</span>
                </div>
            </div>
        </div>
    </div>

    <div class="EmployeeCoverage__Item">
        <div class="EmployeeCoverage__Item__Title">{{ 'PRODUCTS' | translate }}</div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ProductItem">
                    <div class="ProductItem__Title">
                        <span class="ProductItem__Title__Sum">$27.17</span>
                        <span class="ProductItem__Title__Period">{{ 'MONTHLY' | translate }}</span>
                    </div>

                    <div class="ProductItem__PaidDate">
                        <span class="ProductItem__PaidDate__Text">{{ 'PAID_THROUGH' | translate }}:</span>
                        <span class="ProductItem__PaidDate__Value">07/01/2016</span>
                    </div>

                    <div class="ProductItem__Term">
                        <div class="ProductItem__Term__Icon">{{ 'DISABILITY_STD' | translate }}</div>

                        <div class="ProductItem__Term__Description">
                            <div class="ProductItem__Term__Description__Text">{{ 'SHORT_TERM_DISABILITY' | translate }}</div>
                            <div class="ProductItem__Term__Description__Value">{{ 'EMPLOYEE_PAID' | translate }}</div>
                        </div>
                    </div>

                    <div class="ProductItem__EffectiveDate">
                        <span class="ProductItem__EffectiveDate__Text">{{ 'EFFECTIVE_DATE' | translate }}:</span>
                        <span class="ProductItem__EffectiveDate__Value">07/01/2016</span>
                    </div>

                    <div class="ProductItem__Info">
                        <div class="row">
                            <div class="col-md-5 ProductItem__Info__Item">
                                <span class="ProductItem__Info__Sum">50% {{ 'OF_EARNINGS' | translate }}</span>
                                <div class="ProductItem__Info__Description">{{ 'COVERAGE' | translate }}</div>
                            </div>

                            <div class="col-md-7 ProductItem__Info__Item">
                                <span class="ProductItem__Info__Sum">$2,000</span>
                                <span class="ProductItem__Info__Period">Weekly</span>
                                <div class="ProductItem__Info__Description">benefit amount</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="ProductItem">
                    <div class="ProductItem__Title">
                        <span class="ProductItem__Title__Sum">$54.34</span>
                        <span class="ProductItem__Title__Period">{{ 'MONTHLY' | translate }}</span>
                    </div>

                    <div class="ProductItem__PaidDate">
                        <span class="ProductItem__PaidDate__Text">{{ 'PAID_THROUGH' | translate }}:</span>
                        <span class="ProductItem__PaidDate__Value">07/01/2016</span>
                    </div>

                    <div class="ProductItem__Term">
                        <div class="ProductItem__Term__Icon">{{ 'DISABILITY_LTD' | translate }}</div>

                        <div class="ProductItem__Term__Description">
                            <div class="ProductItem__Term__Description__Text">Long-Term Disability</div>
                            <div class="ProductItem__Term__Description__Value">{{ 'EMPLOYEE_PAID' | translate }}</div>
                        </div>
                    </div>

                    <div class="ProductItem__EffectiveDate">
                        <span class="ProductItem__EffectiveDate__Text">{{ 'EFFECTIVE_DATE' | translate }}:</span>
                        <span class="ProductItem__EffectiveDate__Value">07/01/2016</span>
                    </div>

                    <div class="ProductItem__Info">
                        <div class="row">
                            <div class="col-md-5 ProductItem__Info__Item">
                                <span class="ProductItem__Info__Sum">60% {{ 'OF_EARNINGS' | translate }}</span>
                                <div class="ProductItem__Info__Description">{{ 'COVERAGE' | translate }}</div>
                            </div>

                            <div class="col-md-7 ProductItem__Info__Item">
                                <span class="ProductItem__Info__Sum">$2,400</span>
                                <span class="ProductItem__Info__Period">{{ 'WEEKLY' | translate }}</span>
                                <div class="ProductItem__Info__Description">{{ 'BENEFIT_AMOUNT' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="ProductItem AddCoverage">
                    <div class="AddCoverage__Icon">{{ 'DISABILITY_CI' | translate }}</div>

                    <div class="AddCoverage__Text">{{ 'CRITICAL_ILLNESS' | translate }}</div>
                    <div class="AddCoverage__Value">{{ 'EMPLOYEE_PAID' | translate }}</div>

                    <div class="Button AddCoverage__AddButton">{{ 'ADD_COVERAGE' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
