@import 'variables';
@import 'utility';

:host /deep/ {
    .Step {
        &__Title {
            margin-bottom: 5rem;
        }

        &__Next {
            margin: 4rem 0 0;
        }
    }
}

.Payment {
    position: relative;

    min-height: 45rem;

    background: $color-white;
    border: 1px solid $gray-light;
    border-radius: $border-radius-base;
    margin: 8rem 0 10rem;
    padding: 4rem 2.4rem 12.2rem;
    text-align: center;

    @include transition();

    &--success {
        margin-top: 2rem;
        padding: 7rem 0 0;
    }
}
