@import 'utility';
@import 'variables';

:host /deep/ {
    .CompanyCard__FillColor,
    .Icon__Person {
        fill: $gray-light;
    }

    .Icon__PhoneOutline {
        width: 6rem;
        height: 6rem;
    }

    .Icon__Envelope {
        width: 3rem;
        height: 3rem;
    }

    .Icon__Person {
        width: 3rem;
        height: 4rem;
    }

    .Icon__Edit {
        cursor: pointer;
        margin-left: 2rem;

        fill: $color-white;
    }
}

.CompanyCard {
    margin-bottom: 2rem;
    padding-right: 1.5rem;
    padding-left: .8rem;

    @include bp-medium {
        padding: 0;
    }

    &__Header {
        border-radius: $border-radius-base 0 0;
        color: $color-white;
        line-height: 4rem;
        padding: 1.4rem 2.5rem .6rem;

        @include font-size(22px);
        @include linear-gradient(to right, $color-purple, $color-blue-gray-dark);
    }

    &__Buttons {
        display: inline-block;
        margin-bottom: .5rem;
    }

    &__Btn {
        @include bp-xsmall {
            width: 100%;

            margin-bottom: 1rem;
        }
    }

    &__Content {
        width: 100%;
        min-height: 36.8rem;

        border: .1rem solid $gray-lighter;
        border-top: 0;
        border-radius: 0 0 $border-radius-base;
        display: inline-block;
        font-family: $font-primary-500;
        padding-top: 2.9rem;

        @include font-size(15px);
        @include linear-gradient(to bottom, $color-white, $gray-lightest);
    }

    &__Input {
        width: 100%;
        height: 1.7rem;

        background: none;
        border-color: $color-blue-primary;
        color: $color-blue-primary;
        display: inline-block;
        font-family: $font-primary-500;
        font-weight: 500;
        padding: 0;

        @include font-size(15px);

        @include bp-xsmall {
            @include font-size(10px);
        }
    }

    &__NoPadding {
        position: absolute;
        top: 0;
        left: 0;

        padding-left: 1.5rem;
    }

    &__Line {
        position: relative;

        &::after {
            width: 86%;

            border-bottom: .1rem solid $gray-lighter;
            content: '';
            display: block;
            margin: 0 auto 2rem;
            padding-top: 2rem;

            @include bp-small {
                width: 94%;
            }
        }

        &.CompanyCard__Last {
            &::after {
                display: none;
            }
        }
    }

    .Icon {
        width: 6rem;
        margin: auto;
        text-align: center;
    }

    &__RightSide {
        display: inline-block;
        margin-right: 3rem;
        overflow: hidden;
        padding-left: 8rem;
    }

    &__Label {
        font-family: $font-primary-500;
        font-weight: 500;
        letter-spacing: inherit;
        margin-bottom: .3rem;
        text-transform: inherit;
        word-wrap: break-word;

        @include font-size(15px);

        @include bp-xsmall {
            @include font-size(12px);
        }
    }

    &__SmallText {
        color: $gray-light;
        font-family: $font-primary-700;
        letter-spacing: .1rem;
        text-transform: uppercase;

        @include font-size(10px);
    }

    &__Administrator {
        &.CompanyCard__Phone {
            .CompanyCard__RightSide {
                margin-top: 1.5rem;
                vertical-align: top;
            }
        }

        &.CompanyCard__Last {
            .CompanyCard__RightSide {
                color: $color-blue-primary-light;
                font-family: $font-primary-700;
                letter-spacing: .1rem;
                margin-top: 1rem;
                text-transform: uppercase;
                vertical-align: top;

                @include font-size(10px);
            }
        }
    }
}

.EmployerCompany__SavedData {
    .CompanyCard__Inputs {
        display: none;
    }
}

.EmployerCompany__EditedData {
    .CompanyCard__Label {
        display: none;
    }

    .CompanyCard__Inputs {
        width: 100%;
        margin: 0 0 .3rem;
    }

    .CompanyCard__NoIndent {
        margin: 0;
        padding: 0;
    }

    .CompanyCard__SmallText {
        margin-bottom: .3rem;
    }

    .CompanyCard__Last {
        width: 100%;

        display: inline-block;
        margin-bottom: 1rem;
    }

    .CompanyCard__Line {
        &::after {
            border-color: $gray;
        }
    }
}
