<form [formGroup]="companyCardForm"
      [ngClass]="{EmployerCompany__SavedData: !cardData.get('isAdminEditing'), EmployerCompany__EditedData: cardData.get('isAdminEditing') }">
    <div class="CompanyCard col-md-6">
        <div class="CompanyCard__Header">
            {{ 'ADMINISTRATOR' | translate }}
            <i class="Icon--inline Icon__Edit--profile"
               (click)="enableEdit(true, $event)"
               [ngClass]="{HiddenElement: cardData.get('isAdminEditing')}">
                <svg-icon svgClass="Icon__Edit" [svgPath]="icons.iconEdit"></svg-icon>
            </i>
            <div class="CompanyCard__Buttons" [ngClass]="{HiddenElement: !cardData.get('isAdminEditing')}">
                <button class="CompanyCard__Btn Button" (click)="saveUserProfile($event)">{{ 'SAVE' | translate }}</button>
                <button class="CompanyCard__Btn Button__Secondary" (click)="enableEdit(false, $event)">{{ 'CANCEL' | translate }}</button>
            </div>
        </div>
        <div class="CompanyCard__Content">
            <div class="CompanyCard__Line CompanyCard__Administrator">
                <div class="CompanyCard__NoPadding">
                    <i class="Icon">
                        <svg-icon
                                svgClass="CompanyCard__FillColor Icon__Person"
                                [svgPath]="icons.iconPerson"></svg-icon>
                    </i>
                </div>
                <div class="CompanyCard__RightSide">
                    <label class="CompanyCard__Label">{{cardData.getIn(['admin', 'name'])}}</label>
                    <div class="CompanyCard__SmallText">{{ 'NAME' | translate }}</div>
                    <div class="CompanyCard__Inputs">
                        <div class="CompanyCard__NoIndent">
                            <input type="text"
                                   id="name"
                                   class="form-control CompanyCard__Input"
                                   [ngModel]="cardData.getIn(['admin', 'name'])"
                                   [formControl]="name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="CompanyCard__Phone CompanyCard__Line CompanyCard__Administrator">
                <div class="CompanyCard__NoPadding">
                    <i class="Icon">
                        <svg-icon svgClass="CompanyCard__FillColor Icon__PhoneOutline"
                                  [svgPath]="icons.iconPhoneOutline"></svg-icon>
                    </i>
                </div>
                <div class="CompanyCard__RightSide">
                    <div *ngFor="let phone of cardData.getIn(['admin', 'phone']); trackBy:trackByIndex">
                        <label class="CompanyCard__Label">{{phone.type}} {{phone.number}}</label>
                        <div class="CompanyCard__SmallText">{{ 'PHONE' | translate }}</div>
                        <div class="row CompanyCard__Inputs">
                            <div class="col-sm-3 CompanyCard__NoIndent">
                                <input type="text"
                                       id="phoneType"
                                       class="form-control CompanyCard__Input"
                                       [ngModel]="phone.type"
                                       [formControl]="phoneType">
                            </div>
                            <div class="col-sm-5 CompanyCard__NoIndent">
                                <input type="text"
                                       id="phoneNumber"
                                       class="form-control CompanyCard__Input"
                                       [ngModel]="phone.number"
                                       [formControl]="phoneNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="CompanyCard__Line CompanyCard__Administrator">
                <div class="CompanyCard__NoPadding">
                    <i class="Icon">
                        <svg-icon svgClass="CompanyCard__FillColor Icon__Envelope"
                                  [svgPath]="icons.iconEnvelope"></svg-icon>
                    </i>
                </div>
                <div class="CompanyCard__RightSide">
                    <label class="CompanyCard__Label">{{cardData.getIn(['admin', 'email'])}}</label>
                    <div class="CompanyCard__SmallText">{{ 'EMAIL' | translate }}</div>
                    <div class="row CompanyCard__Inputs">
                        <input type="text"
                               id="email"
                               class="form-control CompanyCard__Input"
                               [ngModel]="cardData.getIn(['admin', 'email'])"
                               [formControl]="email">
                    </div>
                </div>
            </div>

            <div class="CompanyCard__Last CompanyCard__Line CompanyCard__Administrator">
                <div class="CompanyCard__NoPadding">
                    <i class="Icon">
                        <svg-icon svgClass="CompanyCard__FillColor Icon__EmployeeProfile"
                                  [svgPath]="icons.iconEmployeeProfile"></svg-icon>
                    </i>
                </div>
                <div class="CompanyCard__RightSide">
                    <a (click)="employeesLinkState()">{{ 'EMPLOYEE_PROFILE' | translate }} ></a>
                </div>
            </div>
        </div>

    </div>
</form>
