<div class="container-fluid">
    <div class="row Footer">
        <div class="col-md-12">
            <ul class="Footer__List">
                <li><h5 class="Footer__List__Header">Billing</h5></li>
                <li><a ng-href class="Footer__List__Item">Statements</a></li>
                <li><a ng-href class="Footer__List__Item">Payment</a></li>
                <li><a ng-href class="Footer__List__Item">Payment History</a></li>
                <li><a ng-href class="Footer__List__Item">Payment Methods</a></li>
            </ul>

            <ul class="Footer__List">
                <li><h5 class="Footer__List__Header">Plans</h5></li>
                <li><a ng-href class="Footer__List__Item">Lorem Ipsum</a></li>
                <li><a ng-href class="Footer__List__Item">Dolor Et</a></li>
                <li><a ng-href class="Footer__List__Item">Nostrud</a></li>
            </ul>

            <ul class="Footer__List">
                <li><h5 class="Footer__List__Header">Employees</h5></li>
                <li><a ng-href class="Footer__List__Item">Lorem Ipsum</a></li>
                <li><a ng-href class="Footer__List__Item">Exercitation</a></li>
                <li><a ng-href class="Footer__List__Item">Dolor Et</a></li>
                <li><a ng-href class="Footer__List__Item">Nostrud</a></li>
            </ul>

            <ul class="Footer__List">
                <li><h5 class="Footer__List__Header">Claims</h5></li>
                <li><a ng-href class="Footer__List__Item">Lorem Ipsum</a></li>
                <li><a ng-href class="Footer__List__Item">Dolor Et</a></li>
                <li><a ng-href class="Footer__List__Item">Nostrud</a></li>
            </ul>

            <ul class="Footer__List">
                <li><h5 class="Footer__List__Header">Forms</h5></li>
                <li><a ng-href class="Footer__List__Item">Lorem Ipsum</a></li>
                <li><a ng-href class="Footer__List__Item">Dolor Et</a></li>
                <li><a ng-href class="Footer__List__Item">Nostrud</a></li>
            </ul>

            <ul class="Footer__List">
                <li><h5 class="Footer__List__Header">Contact</h5></li>
                <li><a ng-href class="Footer__List__Item">Lorem Ipsum</a></li>
                <li><a ng-href class="Footer__List__Item">Exercitation</a></li>
                <li><a ng-href class="Footer__List__Item">Dolor Et</a></li>
                <li><a ng-href class="Footer__List__Item">Nostrud</a></li>
            </ul>

            <ul class="Footer__List">
                <li><h5 class="Footer__List__Header">Messages</h5></li>
                <li><a ng-href class="Footer__List__Item">Lorem Ipsum</a></li>
                <li><a ng-href class="Footer__List__Item">Nostrud</a></li>
            </ul>

            <div class="row">
                <div class="col-md-12 Footer__Copyright">
                    Copyright &#169; 2016 Unum Group. All Rights Reserved.<br> Legal and Privacy Notices
                </div>
            </div>
        </div>
    </div>
</div>
